#aboutUs {
    width: 100%;
    height: 100%;
    background-color: #111;
    margin-top: 12%;
}

.aboutUsDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.aboutUsTitle {
    color: #fff;
    margin-top: 3%;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    position: relative;
    margin-top: 3%;
}

.aboutUsTitle::after {
    content: '';
    height: 4px;
    border-radius: 8px;
    width: 50%;
    background-color: rgba(213, 22, 219, 0.8);
    position: absolute;
    bottom: 0;
    left: calc(50% - 25%);
    top: 1.5em;
}

.aboutUsDiv2 {
    display: flex;
    flex-wrap: wrap;
    background: red;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 3%;
    margin-left: 9%;
    margin-right: 9%;
}

.aboutUsPara {
    color: #fff;
    opacity: 80%;
    font-size: 1.5em;
    line-height: 160%;
}


/* .full{
    align-content: center;
    color:white;
    padding: 10px;
    display: flex;
    height: 500px;
    align-items: center;
}*/
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    
}
.box>p{
    color: rgb(131, 17, 207);
    font-size:  30px;
    font-weight: 700;
    height: 80%;
    
    
}


.box1{
    padding:1rem;
    width: 40%;
    height: 80%;
    border-radius: 5px;
    margin:1rem;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(213, 22, 219, 1);
    overflow: hidden;
    position: relative;
    animation: box1 2s ease-in;
    animation-delay: 0.1s;
}
.box2{
    padding:1rem;
    width: 40%;
    height: 80%;
    border-radius: 5px;
    
    background-color: white;
    box-shadow: 0px 0px 8px rgba(213, 22, 219, 1);
    overflow: hidden;
    position: relative;
    animation: box2 2s ease-in;
    animation-delay: 0.1s;
}
@keyframes box1 {
    0%   { 
    transform: translateX(200%); 		
    }
    100% { 
    transform: translateX(0%); 
    }
}
@keyframes box2 {
    0%   { 
    transform: translateX(-200%); 		
    }
    100% { 
    transform: translateX(0%); 
    }
}
.inner-box{
    background: linear-gradient(180deg, rgba(213, 22, 219, 0.8) 0%, #0C2943 100%);
    padding : 1rem;
    border-radius: 4px;
    text-align: justify;
    color: white;
    height: 400px;
    font-size: 1.2em;
    line-height: 1.7;
    
    
}
.showcaseCard {
    width: 320px;
    height: 380px;
    padding: 2rem 1rem;
    background: #fff;
    border-radius: 16px;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.5s ease-in-out;
    border: 0;
    outline: 0;
}

.showcaseCard:hover {
    transform: translateY(-10px);
}

.showcaseCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(213, 22, 219, 0.8) 0%, #0C2943 100%);
    z-index: 2;
    transition: all 0.8s ease-in-out;
    opacity: 0;
}

.showcaseCard:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
}
.error1{
    visibility: hidden;
}
/* .wrapper {
    padding: 4rem;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    height: 200px;
    align-items: stretch;
    flex-flow: row wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 

    
  }
  .right-side .wrapper .box {
    border-radius: 4px;
    color: white;
    background-color: rgba(213, 22, 219, 0.8);
    padding: 1rem;
    
  }
  
.right-side .wrapper .box p {
    font-weight: 700;
    padding-bottom: 0.5rem;
  } 
  
.right-side .wrapper .box .inner-box {
    font-size: 0.9rem;
    background-color: #0b3a63;
    border-radius: 4px;
    padding: 1rem;
    color: rgba(250, 250, 250, 0.8);
  } */
   


  




/* Responsive styles for title */

@media only screen and (max-width: 1000px) {
    .aboutUsTitle {
        font-size: 40px;
    }
}


/* Responsive styles */

@media only screen and (max-width:650px) {
    .scrolldown {
        bottom: -15%;
    }
}

@media only screen and (max-width:600px) {
    #aboutUs {
        margin-top: 25%;
    }
}

@media only screen and (max-width:550px) {
    .aboutUsTitle {
        font-size: 32px;
    }
    .aboutUsPara {
        font-size: 20px;
    }
    .scrolldown {
        bottom: -25%;
    }
}

@media only screen and (max-width:470px) {
    #aboutUs {
        margin-top: 30%;
    }
}

@media only screen and (max-width:360px) {
    .aboutUsTitle {
        font-size: 28px;
    }
    .aboutUsPara {
        font-size: 16px;
    }
    .aboutUsTitle:after {
        top: 46px;
    }
    .scrolldown {
        bottom: -25%;
    }
    #aboutUs {
        margin-top: 35%;
    }
}

@media only screen and (max-width:320px) {
    #aboutUs {
        margin-top: 40%;
    }
}

@media only screen and (max-width:300px) {
    .aboutUsTitle {
        font-size: 20px;
    }
    .aboutUsPara {
        font-size: 12px;
    }
    .aboutUsTitle:after {
        top: 42px;
    }
    #home::before {
        height: 80%;
    }
    #about {
        margin-top: 70%;
    }
}
@media only screen and (max-width:550px) {
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 0.9rem;
    
        
    }
    
    .box{
        padding:1rem;
        width: 500px;
        border-radius: 5px;
    }
    .box{
        margin:1rem;
        background-color: white;
    }
    .inner-box{
        background-color: rgba(213, 22, 219, 0.8);
        padding : 1rem;
        border-radius: 4px;
        text-align: justify;
        color: white;
        
    }
}