#TeamList {
    width: 100%;
    height: 100%;
    background-color: #111;
    margin-top: 12%;
}

.projectTitleDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.projectTitleDiv h1 {
    color: #fff;
    font-size: 52px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.projectTitleDiv h1:after {
    content: '';
    height: 4px;
    border-radius: 8px;
    width: 50%;
    background-color: rgba(213, 22, 219, 0.8);
    position: absolute;
    bottom: 0;
    left: calc(50% - 25%);
    top: 1.5em;
}


/*Project Tabs*/

.projectTabs {
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20);
    margin: 48px 0px 48px 0px;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.blackBox1 {
    background-color: #0D0D0D;
    width: 15%;
    height: 72px;
    position: absolute;
    left: 0;
}

.blackBox2 {
    background-color: #0D0D0D;
    width: 15%;
    height: 72px;
    position: absolute;
    right: 0;
}

.projectTabs ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 32px;
}

.projectTabs ul li {
    color: #fff;
    padding: 12px 48px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.projectTabs ul li:hover {
    text-decoration: underline rgba(213, 22, 219, 0.8) 2px;
    text-underline-offset: 0.45em;
}

.projectTabs ul li:active {
    text-decoration: underline rgba(213, 22, 219, 0.8) 2px;
    text-underline-offset: 0.5em;
}


/*Project Showcase*/

.projectShowcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.showcaseWrapper {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 2%;
}

.showcaseCard {
    width: 320px;
    height: 380px;
    padding: 2rem 1rem;
    background: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.5s ease-in-out;
    border: 0;
    outline: 0;
    box-shadow: 0px 0px 12px rgba(213, 22, 219, 0.8);
}

.showcaseCard:hover {
    transform: translateY(-10px);
    box-shadow: none;
}

.showcaseCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(213, 22, 219, 0.8) 0%, #0C2943 100%);
    z-index: 2;
    transition: all 0.8s ease-in-out;
    opacity: 0;
}

.showcaseCard:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
}


/* .showcaseCard:hover::before {
    opacity: 1;
} */

.showcaseCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
}

.showcaseCard .info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.showcaseCard:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.showcaseCard .info h1 {
    margin: 0;
    text-align: left;
    font-size: 28px;
}

.showcaseCard .info h3 {
    margin: 0;
    text-align: left;
    font-size: 20px;
}

.showcaseCard .info p {
    letter-spacing: 1px;
    text-align: left;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

@media only screen and (min-width:1350px) {
    .showcaseWrapper {
        width: 70%;
    }
    #TeamList {
        margin-top: 6%;
    }
}

@media only screen and (max-width:1350px) {
    #TeamList {
        margin-top: 6%;
    }
}

@media only screen and (min-width:1300px) {
    .showcaseCard {
        width: 320px;
        height: 380px;
    }
    .showcaseWrapper {
        width: 80%;
    }
}

@media only screen and (max-width:1300px) {
    .showcaseCard {
        width: 280px;
        height: 334px;
    }
    .showcaseWrapper {
        width: 80%;
    }
}

@media only screen and (max-width:1100px) {
    .showcaseCard {
        width: 240px;
        height: 286px;
    }
    .showcaseWrapper {
        width: 80%;
    }
    .showcaseCard .info h1 {
        font-size: 24px;
    }
    .showcaseCard .info h3 {
        font-size: 16px;
        margin-bottom: 8px;
    }
    .showcaseCard .info p {
        font-size: 12px;
        margin-top: 6px;
        margin-bottom: 12px;
    }
    .showcaseCard .info .btn {
        font-size: 14px;
        margin-top: 16px;
    }
}

@media only screen and (max-width:950px) {
    .showcaseCard {
        width: 220px;
        height: 262px;
    }
}

@media only screen and (max-width:860px) {
    /* .showcaseWrapper:nth-child(3) {
        display: none;
    } */
    .showcaseCard {
        width: 200px;
        height: 240px;
    }
    .showcaseCard .info h1 {
        font-size: 22px;
    }
    .showcaseCard .info h3 {
        font-size: 14px;
        margin-bottom: 6px;
    }
    .showcaseCard .info p {
        font-size: 10px;
        margin-top: 4px;
    }
    .showcaseCard .info .btn {
        font-size: 12px;
    }
}

@media only screen and (max-width:800px) {
    /* .showcaseWrapper:nth-child(3) {
        display: none;
    } */
    .showcaseCard {
        width: 170px;
        height: 204px;
    }
    .showcaseCard .info h1 {
        font-size: 18px;
    }
    .showcaseCard .info h3 {
        font-size: 12px;
        margin-bottom: 6px;
    }
    .showcaseCard .info p {
        font-size: 8px;
        margin-top: 4px;
    }
    .showcaseCard .info .btn {
        font-size: 10px;
    }
    .viewAllBtn {
        width: 140px;
        height: 42px;
        font-size: 18px;
    }
}

@media only screen and (max-width:720px) {
    .projectTabs {
        padding: .3em;
    }
    .blackBox1 {
        height: 60px;
    }
    .blackBox2 {
        height: 60px;
    }
    .projectTabs ul li {
        font-size: 20px;
    }
}

@media only screen and (max-width:680px) {
    /* .showcaseWrapper:nth-child(3) {
        display: none;
    } */
    #EventHome {
        height: 90vh;
    }
    #TeamList {
        margin-top: 15%;
    }
    .showcaseCard {
        width: 140px;
        height: 168px;
    }
    .showcaseCard .info h1 {
        font-size: 14px;
    }
    .showcaseCard .info h3 {
        font-size: 10px;
        margin-bottom: 6px;
    }
    .showcaseCard .info p {
        font-size: 6px;
        margin-top: 4px;
    }
    .showcaseCard .info .btn {
        font-size: 8px;
    }
}

@media only screen and (max-width:550px) {
    .showcaseWrapper {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .showcaseCard {
        width: 240px;
        height: 285px;
        margin-top: 32px;
        transform: translateY(0px);
        box-shadow: none;
    }
    .showcaseCard:hover {
        transform: translateY(-10px);
        box-shadow: none;
    }
    .showcaseCard::before {
        background: linear-gradient(180deg, rgba(7, 95, 176, 0) -19.3%, #0C2943 100%);
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    .showcaseCard:hover::before {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    .showcaseCard .info {
        position: relative;
        z-index: 3;
        color: #fff;
        opacity: 1;
        transform: translateY(0px);
        transition: 0.5s all;
    }
    .showcaseCard:hover .info {
        opacity: 1;
        transform: translateY(0px);
    }
    .showcaseCard .info h1 {
        font-size: 24px;
    }
    .showcaseCard .info h3 {
        font-size: 16px;
        margin-bottom: 8px;
    }
    .showcaseCard .info p {
        font-size: 12px;
        margin-top: 6px;
        margin-bottom: 12px;
    }
    .showcaseCard .info .btn {
        font-size: 14px;
        margin-top: 16px;
    }
    .projectTabs ul li {
        padding: 12px 28px;
    }
}

@media only screen and (max-width:500px) {
    .projectTabs {
        padding: .1em;
    }
    .blackBox1 {
        display: none;
    }
    .blackBox2 {
        display: none;
    }
    .projectTabs ul li {
        font-size: 16px;
    }
    .projectTabs {
        background-color: #111;
    }
}


/* Responsive styles for title  */

@media only screen and (max-width:1000px) {
    .projectsTitle {
        font-size: 40px !important;
    }
}

@media only screen and (max-width:550px) {
    .projectsTitle {
        font-size: 32px !important;
    }
}

@media only screen and (max-width:360px) {
    .projectsTitle {
        font-size: 28px !important;
    }
}